{{ define "statusBar" }}
    {{ $status := .Estimate.Status.String }}


    <div class="status-container">
        <!-- Draft -->
        <div
            class="status-step
            {{ if eq $status "Draft" }}current{{ end }}
            {{ if or
                (eq $status "Awaiting Customer Agreement")
                (eq $status "In Progress")
                (eq $status "Completed")
            }}
                completed
            {{ end }}"
        >
            <div class="status-counter">1</div>
            <div class="status-name">Draft</div>
        </div>

        <!-- Awaiting Customer Agreement -->
        <div
            class="status-step
            {{ if eq $status "Awaiting Customer Agreement" }}current{{ end }}
            {{ if or
                (eq $status "In Progress")
                (eq $status "Completed")
            }}
                completed
            {{ end }}"
        >
            <div class="status-counter">2</div>
            <div class="status-name">Awaiting Customer Agreement</div>
        </div>

        <!-- In Progress -->
        <div
            class="status-step
            {{ if eq $status "In Progress" }}current{{ end }}
            {{ if eq $status "Completed" }}completed{{ end }}"
        >
            <div class="status-counter">3</div>
            <div class="status-name">In Progress</div>
        </div>

        <!-- Completed -->
        <div
            class="status-step
            {{ if eq $status "Completed" }}completed{{ end }}"
        >
            <div class="status-counter">4</div>
            <div class="status-name">Completed</div>
        </div>
    </div>
{{ end }}
