{{ define "estimateSummary" }}
    <h1>Estimate Summary</h1>

    <h3 class="estimate-ID" data-estimate-id="{{ .Estimate.EstimateID }}">
        Estimate ID:
        {{ .Estimate.EstimateID }}
    </h3>
    <p class="demo-charge-notice">
        NOTE: Mandetory $300 labor charge included for demolition work and
        disposal.
    </p>
    <p>Sub-Total: ${{ centsToDollars .EstimateTotals.Subtotal 1 }}</p>

    <p>Labor Cost: ${{ centsToDollars .EstimateTotals.LaborTotal 1 }}</p>

    <p>Sales Tax: ${{ centsToDollars .EstimateTotals.SalesTax 1 }}</p>
    <p>
        Estimate Total:
        ${{ centsToDollars .EstimateTotals.EstimateTotal  1 }}
    </p>
    {{ if .Estimate.SignatureObjectKey.Valid }}
        <div class="signature-preview">
            <img
                src="/invoice/signature/{{ .Estimate.EstimateID }}"
                alt="Customer signature"
                class="signature-image"
            />
        </div>
    {{ end }}

    {{ if eq .Estimate.Status.String "Draft" }}
        <form
            action="/estimate/{{ .Estimate.EstimateID }}/progress"
            method="POST"
        >
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
            <button class="submit-btn">Submit Estimate</button>
        </form>
    {{ else if eq .Estimate.Status.String "In Progress" }}
        <form
            action="/estimate/{{ .Estimate.EstimateID }}/progress"
            method="POST"
        >
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
            <button class="submit-btn">Complete Estimate</button>
        </form>
    {{ end }}

{{ end }}
