{{ define "header-tags" }}
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/estimates/edit-estimate.css" />
{{ end }}

{{ define "script-tags" }}
    <script src="/static/js/estimates/edit-estimate.js"></script>
{{ end }}

{{ define "content" }}
    <div class="main-section">
        <dialog class="product-modal" id="product-modal"></dialog>

        <!-- Customer Info -->
        <div class="customer-section">
            <h3>Customer: {{ .Customer.Name }}</h3>
            <p>
                Address:
                {{ .Estimate.Street }}
                {{ .Estimate.City }}
                {{ .Estimate.State }}
                {{ .Estimate.Zip }}
            </p>
            <p>Contact: {{ .Customer.Phone }}</p>

            <table class="kitchen-details">
                <caption>
                    Kitchen Details
                </caption>
                <tr>
                    <td>Length:</td>
                    <td>{{ .Estimate.KitchenLengthInch }}in</td>
                </tr>
                <tr>
                    <td>Width:</td>
                    <td>{{ .Estimate.KitchenWidthInch }}in</td>
                </tr>
                <tr>
                    <td>Height:</td>
                    <td>{{ .Estimate.KitchenHeightInch }}in</td>
                </tr>
                <tr>
                    <td>Door Width:</td>
                    <td>{{ .Estimate.DoorWidthInch }}in</td>
                </tr>
                <tr>
                    <td>Door Height:</td>
                    <td>{{ .Estimate.DoorHeightInch }}in</td>
                </tr>
            </table>
        </div>

        <!-- Estimate Items -->
        <div class="items-section">
            <h1>Estimate Line Items</h1>

            <!-- Appliances -->
            <button class="accordion">Appliances</button>
            <div class="panel">
                <!-- Stoves -->
                <button class="subcategory-accordion">Stoves</button>
                <div class="subcategory-panel" id="Stove">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Stove" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn" id="Appliances">
                            Add a Stove
                        </button>
                    {{ end }}
                </div>

                <!-- Refrigerators -->
                <button class="subcategory-accordion">Refrigerators</button>
                <div class="subcategory-panel" id="Refrigerator">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Refrigerator" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn" id="Appliances">
                            Add a Fridge
                        </button>
                    {{ end }}
                </div>
            </div>

            <!-- Cabinetry -->
            <button class="accordion">Cabinetry</button>
            <div class="panel">
                <button class="subcategory-accordion">Base Cabinets</button>
                <div class="subcategory-panel" id="Base Cabinet">
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Base Cabinet" }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    <button class="add-product-btn" id="Cabinetry">
                        Add a Base Cabinet
                    </button>
                </div>

                <button class="subcategory-accordion">Upper Cabinets</button>
                <div class="subcategory-panel" id="Upper Cabinet">
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Upper Cabinet" }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    <button class="add-product-btn" id="Cabinetry">
                        Add a Upper Cabinet
                    </button>
                </div>
            </div>

            <!-- Countertops -->
            <button class="accordion">Countertops</button>
            <div class="panel">
                <div class="subcategory-panel" id="Countertop">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Countertop" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn">
                            Add a Countertop
                        </button>
                    {{ end }}
                </div>
            </div>

            <!-- Sinks & Faucets -->
            <button class="accordion">Sinks & Faucets</button>
            <div class="panel">
                <!-- Sinks -->
                <button class="subcategory-accordion">Sinks</button>
                <div class="subcategory-panel" id="Sink">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Sink" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn">Add a Sink</button>
                    {{ end }}
                </div>

                <!-- Faucets -->
                <button class="subcategory-accordion">Faucets</button>
                <div class="subcategory-panel" id="Faucet">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Subcategory "Faucet" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn">Add a Faucet</button>
                    {{ end }}
                </div>
            </div>

            <!-- Flooring -->
            <button class="accordion">Flooring</button>
            <div class="panel">
                <div class="subcategory-panel" id="Flooring">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Category "Flooring" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn" id="Flooring">
                            Choose your flooring
                        </button>
                    {{ end }}
                </div>
            </div>

            <!-- Backsplash -->
            <button class="accordion">Backsplash</button>
            <div class="panel">
                <div class="subcategory-panel" id="Backsplash">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Category "Backsplash" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn" id="Backsplash">
                            Add a Backsplash
                        </button>
                    {{ end }}
                </div>
            </div>

            <!-- Misc -->
            <button class="accordion">Misc</button>
            <div class="panel">
                <div class="subcategory-panel" id="Misc">
                    {{ $found := false }}
                    {{ range .Products }}
                        {{ if eq .Product.Category "Misc" }}
                            {{ $found = true }}
                            {{ block "productTable" . }}{{ end }}
                        {{ end }}
                    {{ end }}
                    {{ if not $found }}
                        <button class="add-product-btn" id="Misc">
                            Add any Miscellaneous Items
                        </button>
                    {{ end }}
                </div>
            </div>
        </div>

        <!-- Summary -->
        <div class="summary-section">
            {{ template "estimateSummary" . }}
        </div>
    </div>
{{ end }}
