.submit-btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #333c4d;
    background: #66cc8a;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.submit-btn:hover {
    background: #57b87a;
    transform: translateY(-1px);
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 2px 4px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}
.signature-preview {
    border: 1px solid #bbb;
    background: #fafafa;
    margin-bottom: 2rem;
    text-align: center;
}

.signature-preview img {
    display: block;
    margin: 0 auto;

    max-width: 100%;
    max-height: 120px;

    width: auto;
    height: auto;

    object-fit: contain;

    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.25rem;
}

.signature-preview .muted {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: gray;
}
