{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            {{ template "header-tags" }}
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <meta name="csrf-token" content="{{ .CSRFToken }}" />
            <title>{{ template "title" }}</title>
        </head>
        <body>
            {{ template "nav" . }}


            <main>
                {{ if .Flash.Message }}
                    <div class="flash {{ .Flash.Type }}">
                        {{ .Flash.Message }}
                    </div>
                {{ end }}
                {{ block "content" . }}
                {{ end }}
            </main>

            {{ template "script-tags" }}
        </body>
    </html>
{{ end }}
