{{ define "nav" }}
    <div class="sidebar">
        <a href="/" class="active">Home</a>
        {{ if .IsAuthenticated }}
            <a href="/dashboard" class="active">Dashboard</a>
            <a href="/" class="active">Estimates</a>
            <a href="/estimate/create" class="active">New Estimate</a>
            <a href="/" class="active">Settings</a>
            <a href="/user/logout" class="active">Log out</a>
        {{ else }}
            <a href="/user/login" class="active">Log in</a>
        {{ end }}
    </div>
{{ end }}
