{{ define "script-tags" }}
{{ end }}

{{ define "header-tags" }}
    <link rel="stylesheet" href="/static/css/estimates/create-estimate.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
{{ end }}

{{ define "content" }}
    <form action="/estimate/create" method="POST" class="estimate-form">
        <h1>Create A New Estimate</h1>
        <div class="main-section">
            <div class="customer-info">
                <h3>Customer Info</h3>
                <br />

                {{ with .Form.FieldErrors.customerName }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="customerName">Customer Name:</label>
                <input
                    type="text"
                    name="customerName"
                    id="customerName"
                    class="{{ if .Form.FieldErrors.customerName }}
                        error-input
                    {{ end }}"
                    value="{{ .Form.Name }}"
                />

                {{ with .Form.FieldErrors.streetAddress }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="streetAddress">Street Address:</label>
                <input
                    type="text"
                    name="streetAddress"
                    id="streetAddress"
                    class="{{ if .Form.FieldErrors.streetAddress }}
                        error-input
                    {{ end }}"
                    value="{{ .Form.StreetAddress }}"
                />

                {{ with .Form.FieldErrors.city }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="city">City:</label>
                <input
                    type="text"
                    name="city"
                    id="city"
                    class="{{ if .Form.FieldErrors.city }}error-input{{ end }}"
                    value="{{ .Form.City }}"
                />

                {{ template "state-dropdown" . }}

                {{ with .Form.FieldErrors.zip }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="zip">Zip:</label>
                <input
                    type="text"
                    name="zip"
                    id="zip"
                    class="{{ if .Form.FieldErrors.zip }}error-input{{ end }}"
                    value="{{ .Form.Zip }}"
                />

                {{ with .Form.FieldErrors.email }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="email">Email:</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="{{ if .Form.FieldErrors.email }}error-input{{ end }}"
                    value="{{ .Form.Email }}"
                />

                {{ with .Form.FieldErrors.phone }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="phone">Phone:</label>
                <input
                    type="tel"
                    name="phone"
                    id="phone"
                    class="{{ if .Form.FieldErrors.phone }}error-input{{ end }}"
                    value="{{ .Form.Phone }}"
                />
            </div>

            <div class="kitchen-details">
                <h3>Kitchen Details</h3>
                <br />

                {{ with .Form.FieldErrors.kitchenLength }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="kitchenLength">Length (in)</label>
                <input
                    type="number"
                    id="kitchenLength"
                    name="kitchenLength"
                    min="0"
                    class="{{ if .Form.FieldErrors.kitchenLength }}
                        error-input
                    {{ end }}"
                    {{ if .Form.Length }}
                        value="{{ .Form.Length }}"
                    {{ end }}
                />

                {{ with .Form.FieldErrors.kitchenWidth }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="kitchenWidth">Width (in)</label>
                <input
                    type="number"
                    id="kitchenWidth"
                    name="kitchenWidth"
                    min="0"
                    class="{{ if .Form.FieldErrors.kitchenWidth }}
                        error-input
                    {{ end }}"
                    {{ if .Form.Width }}
                        value="{{ .Form.Width }}"
                    {{ end }}
                />

                {{ with .Form.FieldErrors.kitchenHeight }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="kitchenHeight">Height (in)</label>
                <input
                    type="number"
                    id="kitchenHeight"
                    name="kitchenHeight"
                    min="0"
                    class="{{ if .Form.FieldErrors.kitchenHeight }}
                        error-input
                    {{ end }}"
                    {{ if .Form.Height }}
                        value="{{ .Form.Height }}"
                    {{ end }}
                />

                {{ with .Form.FieldErrors.doorwayWidth }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="doorwayWidth">Door Width (in)</label>
                <input
                    type="number"
                    id="doorwayWidth"
                    name="doorwayWidth"
                    min="0"
                    class="{{ if .Form.FieldErrors.doorwayWidth }}
                        error-input
                    {{ end }}"
                    {{ if .Form.DoorWidth }}
                        value="{{ .Form.DoorWidth }}"
                    {{ end }}
                />

                {{ with .Form.FieldErrors.doorwayHeight }}
                    <label class="error">{{ . }}</label>
                {{ end }}
                <label for="doorwayHeight">Door Height (in)</label>
                <input
                    type="number"
                    id="doorwayHeight"
                    name="doorwayHeight"
                    min="0"
                    class="{{ if .Form.FieldErrors.doorwayHeight }}
                        error-input
                    {{ end }}"
                    {{ if .Form.DoorHeight }}
                        value="{{ .Form.DoorHeight }}"
                    {{ end }}
                />
            </div>
        </div>

        <div class="form-control">
            <input type="submit" value="Begin Estimate" class="submitButton" />
        </div>
    </form>
{{ end }}
