{{define "nav"}}
<div class="sidebar">
    <a href="/" class="active">Dashboard</a>
    <a href="/" class="active">Estimates</a>
    <a href="/estimate/create" class="active">New Estimates</a>
    <a href="/" class="active">Settings</a>
    <a href="/" class="active">Log out</a>
</div>
{{end}}