{{define "nav"}}
<div class="sidebar">
    <ul>
        <li>
            <a href="/" class="active">Home</a>
        </li>
        <li>
            <a href="/" class="active">Estimates</a>
        </li>
        <li>
            <a href="/estimate/create" class="active">New Estimates</a>
        </li>
        <li>
            <a href="/" class="active">Settings</a>
        </li>
        <li>
            <a href="/" class="active">Log out</a>
        </li>
    </ul>
</div>
{{end}}
