{{ define "productTable" }}
    <table class="product-table">
        <tr class="product-table-header">
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
            <th>Price</th>
            {{ if or (eq .Product.Category "Flooring")  (eq .Product.Category "Countertops") }}
                <th>SqFt.</th>
            {{ else }}
                <th>Quantity</th>
            {{ end }}
        </tr>
        <tr data-line-item-id="{{ .EstimateItem.LineItemID }}">
            <td>{{ .Product.Name }}</td>
            <td>{{ .Product.Description }}</td>
            <td>{{ .Product.Color }}</td>
            <td>
                ${{ centsToDollars .Product.UnitPrice .EstimateItem.Quantity }}
            </td>
            <td>
                <input
                    type="number"
                    class="estimate-item-quantity"
                    value="{{ .EstimateItem.Quantity }}"
                />
            </td>
            <td><button class="delete-item-btn">delete item</button></td>
            <td><button class="update-item-btn">update item</button></td>
        </tr>
    </table>
{{ end }}
