body{
    display: flex;
    background-color: whitesmoke;
}

.sidebar {
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333C4D;
    overflow-x: hidden;
    padding-top: 100px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #14181e;
}